@font-face {
    font-family: 'BeVietnamPro';
    src: url(https://github.com/bettergui/BeVietnamPro.woff);
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #ffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

/* header */
.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    box-shadow: 0 1px #ddd;
    background-color: #ffff;
    position: sticky;
    left: 0;
    top: 0;
}

#nav-tittle{
    margin-left: 20px;
    margin-right: auto;
}

.nav img{
    width: 55px;
}

.nav ul li{
    display: inline-block;
    margin: 10px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.nav ul li a{
    text-decoration: none;
    color: black;
}

.nav a:hover{
    color: #1F3984;
    transition: 0.5s;
    text-decoration: underline;
}

.containerisi{
    margin-top: 150px;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;

}

.metode{
    width: 100%;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

option {
    padding: 4px;
}

input[type="text"],
input[type="number"],
input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #1F3984;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #1F3985;
}